
<h1 class="text-center">
    {{data[0].title}}
</h1>
<div class="background-container my-5 py-5">
    <div class="container">
       
        <img class="centered-img" src="{{data[0].image}}" height="300" width="600" alt=""/>
        <p>{{data[0].dis}}</p>
       
        <img class="centered-img2" src="{{data[0].image2}}" height="300" width="600"alt=""/>
            <p>{{data[0].diss}}</p>
           
            <img class="centered-img2" src="{{data[0].image3}}" height="300" width="600" alt=""/>
            <p>{{data[0].disss}}</p>
        
        </div>
    </div>

